@import '../variables.scss';

.flex-wrapper {
  display: flex;

  & > div:first-of-type {
    margin-right: 6px;
  }

  & > div:nth-of-type(2) {
    margin-left: 6px;
  }
}

.flex-stretch {
  flex-grow: 1;
}

.align-items-center {
  align-items: center;
}

.col-4 {
  width: 33.3333%;
}

.col-8 {
  width: 66.6666%;
}

.col-6 {
  width: 60%;
}

.checkout-panel, .mdl-demo .mdl-layout__tab-panel:not(#overview).checkout-panel {
  background-color: $color-light-gray;
}

.mdl-demo .mdl-layout__content .checkout-panel section:not(:last-of-type) {
  margin-bottom: 20px;
} 

.checkout-panel {
  section, section.mdl-layout__content section:not(:last-of-type) {
    margin-bottom: 20px;
  }

  h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: $color-black;
    line-height: 1.37;
  }

  h3 {
    font-size: 1rem;
    margin: 20px 0;

    i {
      color: $color-dark-gray;
      margin-left: 5px;
    }

    &:before {
      content: "1";
      color: $color-white;
      background: $color-black;
      display: inline-block;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      left: -33px;
      top: -1px;
    }
  }

  h4 {
    margin: 0 0 20px;
    font-size: 0.9rem;
  }

  * {
    box-sizing: border-box;
  }

  section:nth-of-type(2) {
    h3:before {
      content: "2";
    }
  }
}

.checkout-panel__container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 15px 0 50px;
}

.checkout-panel__label, .checkout-panel__option {
  .label-container {
    background-color: $color-white;
    margin-bottom: 20px;
    padding: 5px 12px 2px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #00000030;
    border-bottom: 3px solid $color-white;
    transition: 0.2s border-bottom ease;

    &:focus-within {
      border-bottom: 3px solid $color-green;
    }
  }

  &.checkout-invalid .label-container {
    border-bottom: 3px solid $color-red;
  }

  .validation-message {
    color: $color-red;
    margin-top: -21px;
    display: block;
    position: absolute;
    top: -2;
    font-size: 0.9rem;
  }

  label, input {
    display: block;
  }

  input, select {
    width: 100%;
    border: none;
    background-color: inherit;
    font-size: 1.23rem;
    color: $color-very-dark-gray;
    outline: none;

    &::placeholder {
      font-size: 1.23rem;
      color: $color-middle-gray;
    }
  }

  label {
    font-size: 0.85rem;
    font-weight: bold;
    color: $color-dark-gray;
  }

  .bordered-img {    
    padding: 2px 4px;
    border: 1px solid $color-middle-light-gray;
    border-radius: 3px;
    flex-shrink: 0; 
    flex-grow: 0;

    img {
      height: 10px;
    }
  }

  .rounded-icon {
    border: 1px solid $color-middle-light-gray;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $color-middle-light-gray;
    font-size: 1.2rem;
    cursor: pointer;
    flex-shrink: 0; 
    flex-grow: 0;
  } 
}

.checkout-panel__option {
  select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background-image: url('../../images/chevron-down-solid.svg');   
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 11px;
  }
}

.checkout-pannel__summary {
  background-color: $color-white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #00000030;
  padding: 4px;
}

.checkout-panel__summary-border {
  padding: 10px;
  border: 2px dotted $color-very-light-gray;
}

.checkout-panel__price {
  display: flex;
  justify-content: space-between;

  p {
    margin-bottom: 12px;
    line-height: 1.27;
    color: $color-black;
    font-size: 0.95rem;
  }

  .final-price {
    font-size: 1.8rem;
  }
}

.checkout-pannel__summary-section {
  border-bottom: 2px dashed $color-very-light-gray;
  margin-bottom: 14px;
  padding-bottom: 4px;

  &:first-of-type {
    padding-bottom: 16px;
  }
}

.checkout-panel__button {
  width: 100%;    
  padding: 20px;
  border-radius: 4px;
  border: 0;
  background: $color-green;
  border-bottom: 3px solid $color-dark-green;
  cursor: pointer;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;

  i {
    margin-right: 5px;
  }
}

.checkout__success-message {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #0000004a;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;

  .success-message-content {
    background: $color-white;
    max-width: 300px;
    border-radius: 4px;
    box-shadow: 0px 1px 10px 0px #00000030;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .success-message-close {
    display: flex;
    justify-content: flex-end;

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: $color-gray;
      font-size: 1.5rem;
    }
  }

  h5 {
    margin: 5px 0 20px;
    color: $color-green;
    text-align: center;
    font-size: 1.7rem;
  }

  p {
    color: $color-gray;
    text-align: center;
  }

  .success-message-continue {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 0;
    background: $color-green;
    border-bottom: 2px solid $color-dark-green;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    max-width: 120px;
    margin: 10px auto 0;
    display: block;
    cursor: pointer;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .sm-flex-column {
    flex-direction: column;

    & > div:first-of-type,  & > div:nth-of-type(2) {
      margin: 0;
      width: 100%;
    }
  }

  .sm-col-7 {
    width: 58.3333%;
  }

  .sm-col-5 {
    width: 41.6666%;
  }
}

@media (max-width: 650px) {
  .xs-col-12 {
    width: 100%;
  }

  .xs-flex-column {
    flex-direction: column;

    & > div:first-of-type,  & > div:nth-of-type(2) {
      margin: 0;
      width: 100%;
    }
  }

  .checkout-pannel__summary {
    margin-bottom: 20px;
  }

  .checkout-panel__container {
    padding: 0 5px 0 40px;
  }
}
